/* Global Css start */
body{
  background-color: #000 !important;
}


a{
    text-decoration: none !important;
    color: #fff !important;
  
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px !important;
}
/* Global Css End */

/* top-nav Section Start */
.top-nav-row{
  border-bottom: 1px solid #494444;
  padding: 13px 0 13px 0;
}
.top-nav-sec{
    background-color: #1a1a1a;
    padding: 15px 0px;
}

.top-right ul li{
    padding: 0px 35px 0px 0px;
}

.top-right ul li a{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.top-nav-icon ul{
    display: flex;
    justify-content: end;
}

.top-nav-icon ul li{
    padding: 0px 35px 0px 0px;
}
/* top-nav Section End  */



/* Nav bar Section Start */

  
  
  
  .n-ptb{
    padding: 16px 0 10px 0;
  }
  /* .dis-co{
    display: contents !important;
  } */
  .j-f{
      justify-content: center;
  }
  .j-f ul{
    padding: 7px 20px 5px 20px;
    align-items: center;
  }
  .nav-logo{
    font-weight: 400;
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    letter-spacing: 2px;
    color: #222E48 !important;
    text-transform: capitalize;
  }
  .bg-body-tertiary{
     background: transparent !important;
  }
  .navbar{
    background: transparent !important;
  }
  .nav-list li{
      padding-right: 22px;
  }
  
  .nav-list li a{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
  }
  .nav-list li a:hover{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #E1C564 !important;
    text-transform: uppercase;
  }
  
  .nave-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-family: "Mohave", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  ::placeholder {
    font-family: "Mohave", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
  }
  .nave-input:focus{
    border: none;
  }
  
  .nav-but{
      font-family: "Mulish", sans-serif;
      background-color: #000;
      color: #fff;
      padding: 9px 18px;
      font-size: 13px;
      border-radius: 12px;
      /* visibility: hidden; */
  }
  /* Nav bar Section End */

  /* Herro Section Start */

  .overlay{
    background-color: #1a1a1a8f;
    padding: 115px 0;
  }

  .hero-sec{
    background-image: url(../img/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .herro-contant{
    color: #fff;
   
  }
  
  .sub-hadding{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
  line-height: 15.6px;
  padding: 0 0px 0 48px;
  color: #fff;
  }
  
  .sub{
    position: relative;
  }
  .sub-hadding::before{
    content: "";
    position: absolute;
    width: 41px;
    border: 1px solid #E1C564;
    top: 7px;
    left: 0px;
  }

  .herro-contant h1{
    font-family: "Cormorant Garamond", serif;
    font-size: 66px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -2px;
  }

  .herro-p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .herro-btn{
    padding: 20px 0px;
  }

  .herro-btn a{
    background-color: #E1C564;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 15px;
    border: 1px solid transparent;
  }

  .herro-btn a:hover{
    background-color: transparent ;
    border: 1px solid #E1C564;
  }
  /* Herro Section End */


  /* About Us Section Start */

  .about-contant{
    padding: 0 0px 28px 0px;
  }
  .about-sec{
    padding: 80px 0px;
  }

  .h3-hadding{
    font-family: "Cormorant Garamond", serif;
    color: #fff;
    font-size: 57px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 44px;
  }
  .pera-p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 0;
    color: #fff;
    line-height: 1.9;
  }

  .border-pera{
    color: #fff;
    border-left: 4px solid #E1C564;
    padding: 0 0px 0 13px;
  }

  .border-pera p{
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;

  }
  /* About Us Section End */


  /* Number Section Start */
  .h4-hadding{
    font-family: "Cormorant Garamond", serif;
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 44px;
  }

  /* Number Section End */


  /* What We Do Section Start */
  .we-do-overlay{
    background-color: #1a1a1aeb;
    padding: 79px 0;
  }
  .wedo-sec{
    background-image: url(../img/what-we-do-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card-1{
    background-color: #131313 !important;
    padding: 0 4px;
    width: 15rem;
    border-bottom: 3px solid #E1C564 !important;
  }
  .card1-body{
    color: #fff !important;
    text-align: center;
  }

  .card1-body h5{ 
    font-family: "Cormorant Garamond", serif;
    color: #E1C564;
    font-size: 28px;
    font-weight: 700;
  }

  .card1-body p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #595959;
  }
  /* What We Do Section End */